---
import underConstruction from "../assets/pics/under_construction.jpg";
---

<div class="construction">
  <h2 class="title">Currently under construction. Please check back later.</h2>
  <img
    src={underConstruction}
    alt="Foto von Glenn Carstens-Peters auf Unsplash"
    class="mx-auto"
  />
</div>

<style>
  .construction {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .title {
    text-align: center;
  }
</style>
